/* Styles to be applied to all elements */
a, a:visited {
  text-decoration: none !important;
  color: rgba(0,0,0,.6) !important;
  width: 100%;
}

.nav-active {
  color: rgb(1, 155, 66) !important;
}

.nav-active > div {
  background-color: rgba(1, 155, 66, 0.2) !important;
}

.nav-active > .MuiListItemIcon-root {
  color: rgb(1, 155, 66) !important;
}

.MuiTypography-body1 > a, .MuiTypography-body2 > a:link {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.MuiTypography-body1 > a:hover, .MuiTypography-body2 > a:hover {
  color: rgb(1, 155, 66) !important;
}

.MuiButtonBase-root, .MuiPaper-root {
  width: 100%;
}

a:hover > .MuiButtonBase-root, a:hover > .MuiButtonBase-root > .MuiPaper-root {
  color: rgb(1, 155, 66) !important;
}

@media screen and (max-width: 960px) {
  .makeStyles-menuButton-6 {
    width: 25%;
  }

  .makeStyles-menuButton-6 > .MuiIconButton-label {
    width: auto;
  }
}

@media screen and (min-width: 960px) {
  .expandedTeamItem {
    width: 12.5% !important;
  }
}